html, body{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
	display:flex;
	/* align-items:center; */
	/* justify-content:center; */
	background-color:black;
}
h1{
    font-family:poppins;
    font-weight:bold;
    font-size: 42px;
    text-transform: uppercase;
	/* width:70px; */
    padding: 0.6em 0em;
	padding-right:6.6em;
	padding-left:1em;
    position: absolute;
    /* top: 40%; */
    /* left: 46%; */
	text-align:end;
    transform: translate(-50%,-50%);
color:white;
}
h2{ font-family:poppins;
    font-weight:bold;
    font-size: 42px;
    text-transform: uppercase;
    padding: .4em 1em;
    position: absolute;
    /* top: 40%; */
    /* left: 46%; */
    transform: translate(-50%,-50%);
    color:white;
}
.rev-block{
    position: absolute;
	    top: 39%;
    left: 47.25%;
}
.rev-block2{
    position: absolute;
	    top: 50.5%;
    left: 46%;
}
.rev-block span{
    opacity: 0;
    animation: apear-text 0.001s linear forwards;
    animation-delay: 1.4s;
}
.rev-block2 span{
    opacity: 0;
    animation: apear-text 0.001s linear forwards;
    animation-delay: 1.6s;
}
.rev-block:after{
    content:'';
    top: 0;
    left: 0;
    position: absolute;
    width: 0;
    height: 100%;
    background-color: aqua;
    animation: rev-block 1.5s cubic-bezier(0.19,1,0.22,1) forwards;
    animation-delay: 1s;
}
.rev-block2:after{
    content:'';
    top: 0;
    left: 0;
    position: absolute;
    width: 0;
    height: 100%;
    background-color: red;
    animation: rev-block 1.5s cubic-bezier(0.19,1,0.22,1) forwards;
    animation-delay: 1.4s;
}
@keyframes rev-block{
    0%{
        left: 0;
        width: 0%;
    }
    50%{
        left: 0;
        width: 100%;
    }
    100%{
        left: 100%;
        width: 0%;
    }
}

@keyframes rev-block2{
    0%{
        left: 0;
        width: 0%;
    }
    50%{
        left: 0;
        width: 100%;
    }
    100%{
        left: 100%;
        width: 0%;
    }
}
@keyframes apear-text{
    0%{
        opacity: 0;
    }
   
    100%{
        opacity: 1;
    }
}


